#root{
  height: 100%;
}
.ant-layout{
  height: 100%;
}

.layout-header{
  color: #ffffff !important;
}

.layout-content{
  padding: 20px 50px;
}

.layout-footer{
  background: #001529 !important;
  color: #ffffff !important;
}